body {
    background: url(../images/topo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.imgLogo-header {
    position: absolute;
    left: 207px;
    top: 33px;
}

.divHeader {
    position: absolute;
    top: 385px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.navUl-header {
    display: flex;
    justify-content: space-around;
}

.navLi-header {
    width: min-content;
}

.buttonNavDGreen-header ,.buttonNavGreen-header ,.buttonNavOrange-header ,.buttonNavBlue-header ,.buttonNavWine-header ,.buttonNavPurple-header {
    width: 153px;
    height: 44px;
    border-width: inherit;
    color: #fff;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 0px 2px #fff;
}

.buttonNavDGreen-header {
    background-color: rgb(1, 102, 44);
}

.buttonNavGreen-header ,.cardHall-header {
    background-color: rgb(142, 191, 63);
}

.buttonNavOrange-header ,.cardToys-header {
    background-color: rgb(231, 120, 38);
}

.buttonNavBlue-header{
    background-color: rgb(53, 148, 192);
}

.buttonNavWine-header {
    background-color: rgb(194, 13, 92);
}

.buttonNavPurple-header ,.cardMenu-header {
    background-color: rgb(145, 82, 127);
}

.cardMenu-header ,.cardToys-header ,.cardHall-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: min-content;
}

.cardTxt-header {
    width: min-content;
    height: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.cardSpanGreen-header {
    color: rgb(142, 191, 63);
}

.cardSpanPurple-header {
    color: rgb(145, 82, 127);
}

.cardSpanOrange-header {
    color: rgb(231, 120, 38);
}