body {
    font-family: 'Public Sans', sans-serif;
    background: url(../images/topo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.imgLogo-header {
    width: fit-content;
    margin-left: 206px;
    padding: 34px 0;
}

.divHeader {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    padding: 128px 0 40px 0;
    display: flex;
    justify-content: center;
}

.divHeader-ul {
    margin: auto;
}

.navUl-header {
    display: flex;
    justify-content: space-around;
}

.navLi-header {
    width: min-content;
}

.buttonNavDGreen-header ,.buttonNavGreen-header ,.buttonNavOrange-header ,.buttonNavBlue-header ,.buttonNavWine-header ,.buttonNavPurple-header {
    width: 153px;
    height: 44px;
    border-width: inherit;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 0px 2px #fff;
    cursor: pointer;
}

.buttonNavDGreen-header {
    background-color: rgb(1, 102, 44);
}

.buttonNavGreen-header ,.cardHall-header {
    background-color: rgb(142, 191, 63);
}

.buttonNavOrange-header ,.cardToys-header {
    background-color: rgb(231, 120, 38);
}

.buttonNavBlue-header{
    background-color: rgb(53, 148, 192);
}

.buttonNavWine-header {
    background-color: rgb(194, 13, 92);
}

.buttonNavPurple-header ,.cardMenu-header {
    background-color: rgb(145, 82, 127);
}

.cardsUl-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 150px;
    margin-top: -55px;
}

.cardMenu-header ,.cardToys-header ,.cardHall-header {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 31%;
}

.cardMenu-header {
    padding: 5px 0 5px 5px;
}

.cardToys-header ,.cardHall-header {
    padding: 5px;
}

.cardTxt-header {
    width: min-content;
    height: fit-content;
    margin-left: 5px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.cardToys-header div {
    margin-left: 1px;
}

.wordSpanGreen-header {
    color: rgb(142, 191, 63);
}

.wordSpanPurple-header {
    color: rgb(145, 82, 127);
    text-shadow: 0 0 5px #fff;
}

.wordSpanOrange-header {
    color: rgb(231, 120, 38);
    text-shadow: 0 0 5px #fff;
} 